@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Ensure @import precedes other statements */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  font-family: "Poppins", sans-serif;
}

/* Specific font weights */
.poppins-thin {
  font-weight: 100;
}

.poppins-extralight {
  font-weight: 200;
}

.poppins-light {
  font-weight: 300;
}

/* Body styles */
body {
  height: 100vh;
}

/* Quill editor styles */
.ql-editor {
  font-size: 1.05rem;
}

/* Post content styles */
.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.post-content h2 {
  font-size: 1.4rem;
}

/* Link styles */
.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

/* Dark mode link styles */
.dark .post-content a {
  color: red;
}
